
.dib-box {
    width:100%;
    height:auto;
    padding:10px;
    border:1px #ccc solid;
    display:-webkit-box;
    display:-webkit-flex;
    display:flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
            flex-direction: row;
    -webkit-flex-wrap: wrap;
            flex-wrap: wrap;
}
.dib {
    border:1px #ccc solid;
    width:200px;
    margin:3px;
    padding:5px;
    font-size:13px;
}
.dib:hover{
    color:#8CC5FF;
}
.dib span{
    font-size:35px;
}

