/*

Colorbrewer theme
Original: https://github.com/mbostock/colorbrewer-theme (c) Mike Bostock <mike@ocks.org>
Ported by FabrÃ­cio Tavares de Oliveira

*/

.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  background: #fff;
}

.hljs,
.hljs-subst {
  color: #000;
}

.hljs-string,
.hljs-meta,
.hljs-symbol,
.hljs-template-tag,
.hljs-template-variable,
.hljs-addition {
  color: #756bb1;
}

.hljs-comment,
.hljs-quote {
  color: #636363;
}

.hljs-number,
.hljs-regexp,
.hljs-literal,
.hljs-bullet,
.hljs-link {
  color: #31a354;
}

.hljs-deletion,
.hljs-variable {
  color: #88f;
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-title,
.hljs-section,
.hljs-built_in,
.hljs-doctag,
.hljs-type,
.hljs-tag,
.hljs-name,
.hljs-selector-id,
.hljs-selector-class,
.hljs-strong {
  color: #3182bd;
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-attribute {
  color: #e6550d;
}

html,body{
  padding: 0;
  height: 100%;
  color: #333;
  font-family: Helvetica Neue,Helvetica,PingFang SC,Hiragino Sans GB,Microsoft YaHei,SimSun,sans-serif;
  -webkit-font-smoothing: antialiased;
}
p, body, h1, h2, h3, h4, h5{
  margin: 0
}
ul{
  list-style: none;
  padding: 0;
  margin: 0;
}
.column-style{ background-color:red; }
/*浏览器样式格式化*/
::-webkit-scrollbar {
  height: 10px !important;
  width: 10px !important;
}
::-webkit-scrollbar-track-piece {
  background-color: rgba(0, 0, 0, 0);
  border-radius: 0px;
}
::-webkit-scrollbar-thumb {
border-radius: 4px;
  border-style: dashed;
  background-color: rgba(157, 165, 183, 0.4);
  border-color: transparent;
  border-width: 2px;
  background-clip: padding-box;
}
::-webkit-scrollbar-thumb:hover {
  border-radius: 4px;
background: rgba(157, 165, 183, 0.7);
}
.line{
  width: 100%;
  height: 1px;
  background-color: rgba(0,0,0,.1);
}
body .hljs {
  line-height: 1.8;
  font-family: Menlo,Monaco,Consolas,Courier,monospace;
  font-size: 12px;
  padding: 18px 24px;
  background-color: #fafafa;
  border: 1px solid #eaeefb;
  margin-bottom: 25px;
  border-radius: 4px;
  -webkit-font-smoothing: auto
}
h2, h3, h4, h5{
  font-weight: normal;
  color: #333;
}
h3{
  font-size: 22px;
  margin: 50px 0 20px;
}
h4{
  margin: 20px 0;
  font-size: 18px;
}
p{
  line-height: 1.5;
  margin: 10px 0;
  font-weight: normal;
  font-size: 14px;
  color: #5e6d82;
}
a {
  color: #409eff;
  text-decoration: none;
}
.table-md {
  border-collapse: collapse;
  width: 100%;
  background-color: #fff;
  font-size: 14px;
  line-height: 1.2em;
  padding:20px;
  border: 1px solid #ddd;
}
.table-md th{
    white-space: nowrap;
    text-align: left;
    color: #666;
    font-weight: 600;
    background:#efefef;
  }
.table-md th, .table-md td{
    border-bottom: 1px solid #d8d8d8;
    padding: 15px;
    max-width: 250px;
  }
.table-md td {
    color: #333;
  }
hr{
  height:1px;
  border:none;
  border-top:1px solid #eee;
}
.demo-material{
  padding-top: 30px;
}
.tip {
  padding: 8px 16px;
  background-color: #ecf8ff;
  border-radius: 4px;
  border-left: 5px solid #50bfff;
  margin: 20px 0;
}
.warning {
  padding: 8px 16px;
  background-color: #ecf8ff;
  border-radius: 4px;
  border-left: 5px solid #e2e612;
  margin: 20px 0;
}
.danger {
  padding: 8px 16px;
  background-color: #ecf8ff;
  border-radius: 4px;
  border-left: 5px solid #d83434;
  margin: 20px 0;
}


#app[data-v-a9794c84]{
  height: 100%;
}
.bounce-enter-active[data-v-a9794c84] {
  -webkit-animation: bounce-in 1s;
          animation: bounce-in 1s;
}
.bounce-leave-active[data-v-a9794c84] {
  -webkit-animation: bounce-out 1s;
          animation: bounce-out 1s;
}


.demo-block {
  background: #F5F7FA;
  border: 1px solid #ebedf0;
  border-radius: 2px;
  display: inline-block;
  width: 100%;
  position: relative;
  margin: 0 0 16px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  border-radius: 2px;
}
.demo-block p {
  padding: 0;
  margin: 0;
}
.demo-block .demo-block-code-icon {
  position: absolute;
  right: 24px;
  bottom: 10px;
  cursor: pointer;
  width: 18px;
  height: 18px;
  line-height: 18px;
  text-align: center;
}
.demo-block .demo-block-code-icon img {
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: absolute;
  left: 0;
  top: 0;
  margin: 0;
  max-width: 100%;
  width: 100%;
  vertical-align: baseline;
  box-shadow: none;
}
.demo-block .demo-block-source {
  border-bottom: 1px solid #ebedf0;
  padding: 20px 24px 40px;
  color: #444;
  position: relative;
  margin-bottom: -1px;
}
.demo-block .demo-block-meta {
  position: relative;
  padding: 12px 50px 12px 20px;
  border-radius: 0 0 2px 2px;
  -webkit-transition: background-color 0.4s;
  transition: background-color 0.4s;
  width: 100%;
  box-sizing: border-box;
  font-size: 14px;
  color: #444;
  font-size: 14px;
  line-height: 2;
  border-radius: 0;
  border-bottom: 1px dashed #ebedf0;
  margin-bottom: -1px;
}
.demo-block .demo-block-meta code {
  color: #444;
  background-color: #e6effb;
  margin: 0 4px;
  display: inline-block;
  padding: 3px 7px;
  border-radius: 3px;
  height: 18px;
  line-height: 18px;
  font-family: Menlo, Monaco, Consolas, Courier, monospace;
  font-size: 14px;
}
.demo-block .demo-block-code {
  background-color: #f7f7f7;
  font-size: 0;
}
.demo-block .demo-block-code code {
  background-color: #f7f7f7;
  font-family: Consolas, Menlo, Courier, monospace;
  border: none;
  display: block;
  font-size: 14px;
  padding: 16px 32px;
}
.demo-block .demo-block-code pre {
  margin: 0;
  padding: 0;
}
.sh-checkbox {
  color: #444;
  font-weight: 500;
  font-size: 14px;
  position: relative;
  cursor: pointer;
  display: inline-block;
  white-space: nowrap;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.el-tree > .el-tree-node {
    display: inline-block !important;
    min-width: 100%;
    overflow: hidden;
  }
  .yl-list-warpper {
    overflow: auto;
    width: 100%;
    height: 100%;
  }
  .yl-list-nodata {
    height: 100px;
    text-align: center;
    font-size: 14px;
    padding-top: 80px;
  }
  .el-popover {
    padding: 8px;
}
  .selectpanel {
    max-height: 274px;
}
  .selectpanel_view {
    padding: 3px 8px;
    margin: 0;
    box-sizing: border-box;
}
  .el-select-panel-toolbar {
    height: 28px;
    font-size: 14px;
    text-align: left;
    padding-left: 10px;
    margin-bottom: 3px;
    line-height: 28px;
    border: 1px solid #fff;
    background-color: #F5F7FA;
}
  .filter-style.el-input__inner {
    border: 1px solid rgb(191, 203, 217);
}
  .select-list-panel {
    margin-top:3px;
}
  .g-border-b-solid{
    border:1px #E4E7ED solid;
}
  .g-border-l-solid{
    border:1px #F2F6FC solid;
}
  .g-border-b-dotted{
    border:2px #E4E7ED dotted;
}
  .g-border-l-dotted{
    border:2px #F2F6FC dotted;
}
  .g-box-shadow-base{
   box-shadow:0 2px 4px rgba(0, 0, 0, .12), 0 0 6px rgba(0, 0, 0, .04);
}
  .g-box-shadow-light{
   box-shadow:0 2px 12px 0 rgba(0, 0, 0, 0.1);
}
  /* 危险按钮偏移类 */
  .g-button-margin-left {
    margin-left: 50px !important;
}
  /* 工具条按钮有浮动 */
  .g-button-float-right {
    float: right;
    margin-left:auto;
}
  /* 容器的内边距 */
  .g-container-padding {
    padding: 5px;
    box-sizing: border-box;
}
  /*容器内边距头部免除*/
  .g-container-padding-nontop {
    padding: 5px;
    padding-top: 0px;
    box-sizing: border-box;
}
  /*填充容器样式*/
  .g-container-full-fill {
    width:100%;
    height:100%;
}
  .infinite-list-wrapper{
    height: 100%;
  }
  .infinite-list-item{
    min-height: 28px;
    padding:5px;
  }
  .infinite-list-item:hover{
      cursor: pointer;
      background:#F5F7FA
    }
  .infinite-list-item > p {
      margin: 0px;
      overflow: hidden;
      text-overflow:ellipsis;
      white-space: nowrap;
    }
  .infinite-list-item > .label {
       font-size:14px;
      color:#606266;
    }
  .infinite-list-item > .sub-label {
      font-size:12px;
      color:#95A5A6;
    }
  .infinite-list-tip{
    font-size:12px;
    text-align: center;
    color:#606266;
  }
  .yl-flex-box {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
}
  .yl-flex-box > .fixed-wrapper {
    display: block;
  }
  .yl-flex-box > .fixed-wrapper > div {
      width: 100%;
      height: 100%;
    }
  .yl-flex-box > .flex-wrapper {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
            flex: 1;
    overflow:auto;
  }
  .yl-flex-box > .flex-wrapper > div {
      width: 100%;
      height: 100%;
    }
  .yl-flex-box > .flod {
    display: block;
    background: #F5F7FA;
    position: relative;
  }
  .yl-flex-box > .flod:hover {
      cursor: pointer;
    }
  .yl-page-header-item {
  color: #606266;
  padding: 0px 3px;
}
  .yl-page-header-item:last-child > .separator {
    display: none;
  }
  .yl-page-header-item > .separator {
    color: #C0C4CC;
  }
  .yl-page-header-title {
  color: #303133;
  padding: 0px 3px;
  font-weight: 600;
}
  .yl-page-header-title:hover {
    color: #2980B9;
    cursor: pointer;
  }
  .yl-page-header {
  padding: 5px 10px;
  height: 33px !important;
  box-sizing: border-box;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
          align-items: center;
  background: #FFFFFF;
  font-size: 13px;
  color: #606266;
}
  .yl-page-header > .title {
    font-weight: 500;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
            flex: 1;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
  }
  .yl-page-header > .tool {
  }
  .yl-panel {
  box-sizing: border-box;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
          flex-direction: column;
  background: #FFFFFF;
  font-size: 13px;

}
  .yl-panel > .header{
      padding: 0px 10px;
  }
  .yl-panel > .header > .header-content {
        display: -webkit-box;
        display: -webkit-flex;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
                align-items: center;
        box-sizing: border-box;
        border-bottom: 1px solid #E4E7ED;
        padding: 5px 0px;
        color:#303133;
        font-weight: 600;
    }
  .yl-panel > .header > .header-content > .title {
          font-size: 14px;
          height: 25px;
          line-height: 25px;
          border-left: 5px solid #2980B9;
          padding-left: 5px;
          -webkit-box-flex: 1;
          -webkit-flex: 1;
                  flex: 1;
        }
  .yl-panel > .header > .header-content .tool > i {
        }
  .yl-panel> .content{
      -webkit-box-flex:1;
      -webkit-flex:1;
              flex:1;
      overflow: auto;
  }
  .table-edit{
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
          flex-direction: column;
}
  .table-edit> .table-zone {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
            flex: 1;
  }
  .table-edit> .sum-text {
      height: 28px;
      line-height: 28px;
      font-size: 12px;
      border: 1px solid #eee;
      border-top: none;
      padding: 0px 10px;
      display: -webkit-box;
      display: -webkit-flex;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -webkit-flex-direction: row;
              flex-direction: row;
      -webkit-flex-wrap: nowrap;
              flex-wrap: nowrap;
      -webkit-box-pack: end;
      -webkit-justify-content: flex-end;
              justify-content: flex-end;
      -webkit-box-align: center;
      -webkit-align-items: center;
              align-items: center;
    }
  .table-edit> .sum-text> .heji-title {
        color: #606266;
        font-weight: 600;
        font-size: 14px;
      }
  .table-edit> .sum-text> .heji-title>.heji-text {
          color: #303133;
          font-weight: 600;
        }
  .yl-time-bar {
    box-sizing: border-box;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    padding: 0px 5px;
  }
  .yl-time-bar > .btn {
      line-height: 2;
    }
  .yl-time-bar > .timepick {
      padding-left: 150px;
    }
  .yl-time-bar > .timepick > i {
        color: #606266;
      }
  .yl-time-bar > .timepick > i:hover {
          cursor: pointer;
        }
  .yl-time-bar > .timepick > .date {
        width: 150px;
      }
  .yl-tool-bar {
  box-sizing:border-box;
  padding: 5px 10px;
  background: #FFFFFF;
  font-size: 13px;
  color: #303133;
  height:auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
          flex-direction: column;
}
  .yl-tool-bar >>> .el-form-item {
    margin-bottom: 5px;
  }
  .yl-tool-bar > .filter {
    height:auto;
    /* padding: $layout-gap-b 0px; */
  }
  .yl-tool-bar > .divider {
    border-bottom: 1px solid #F2F6FC;
    margin:  5px 0px;
  }
  .yl-tool-bar > .more {
    height: auto;
  }
  .yl-tool-bar > .more > .more-lable {
      font-size: 12px;
      color: #2980B9;
      text-align: right;
      padding-bottom: 5px;
      cursor: pointer;
    }
  .yl-tool-bar > .tool {
    display:-webkit-box;
    display:-webkit-flex;
    display:flex;
  }
  .yl-list-warpper {
    overflow: auto;
    width: 100%;
    height: 100%;
  }
  .yl-list-nodata {
    height: 100px;
    text-align: center;
    font-size: 14px;
    padding-top: 80px;
  }

