@import  './var.pcss';
.yl-page-header {
  padding: $layout-gap-b $layout-gap-l;
  height: 33px !important;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  background: $background-color-l;
  font-size: $font-size-13;
  color: $text-regular;
  & > .title {
    font-weight: 500;
    flex: 1;
    display: flex;
  }
  & > .tool {
  }
}